# For advice on how to change settings please see
# http://dev.mysql.com/doc/refman/5.7/en/server-configuration-defaults.html

[mysqld]
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
symbolic-links=0
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid
validate-password=OFF
character-set-server=utf8

# slow query log
slow_query_log=ON
slow_query_log_file=/var/log/mysql-slow.log
long_query_time = 4

# max connection
max_connections = 500

# MySQL Clients max
thread_cache_size=100

# query cache
query_cache_limit=16M
query_cache_size=512M
query_cache_type=1

# innodb
innodb_file_per_table=ON
innodb_buffer_pool_size = 200M
innodb_flush_method=O_DIRECT

[mysql]
default-character-set=utf8
